main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame{
    background-color: aqua;
    width: 50vw;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
    background-color: blueviolet;
    border: 2px solid black;
}

.cell{
    border: 2px solid white;
    flex: 1;
}