body{
    background-color: aqua;
    overflow: hidden;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100vh;
}

.frame{
    background-color: white;
    border: 1px solid black;
    width: 75vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
    /* background-color: blueviolet;
    border: 2px solid black; */
}

.cell{
    /* border: 2px solid white; */
    flex: 1;
}

.text-container{
    text-align: center;
}

.text-container h1{
    margin-bottom: 0px;
}